# JetBrains IDE
.idea/

# VS Code (keep settings.json for Python config)
.vscode/*
!.vscode/settings.json

# Environments
.env
.venv
env/
venv/
ENV/

# mypy
.cache
.mypy_cache/
.dmypy.json
dmypy.json

# Dirs and files
.DS_Store
Thumbs.db
*.log
ecomerce.db
ecommerce
sql_alchemy.py
endpoints.py
scripts
src/migrations/*
!src/migrations/env.py
!src/migrations/README
!src/migrations/script.py.mako
_*
